.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        | Wayfa
        span.orange i
        | rer.co
    .collapse.navbar-collapse
      ul.nav.navbar-nav

        li(class=title=='All Experiences' ? 'active':undefined)
            a(href='/experiences/all') Explore
 
        li(class=title=='What is Wayfairer?' ? 'active':undefined)
            a(href='/how-it-works') What is Wayfairer?

      ul.nav.navbar-nav.navbar-right


        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a.navbar-cta(href='/signup') Signup
        else
          li.dropdown(class=title=='Account'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.navbar-img(src='#{user.profile.picture}')
              //else
                img(src='#{user.gravatar(60)}')
              | Hello 
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/dashboard')
                  //span.ion-person
                  | Dashboard
              li
                a(href='/experience/new')
                  //span.ion-person
                  | Share Experience
              li.divider
              li
                a(href='/profile')
                  //span.ion-person
                  | Edit Profile
              li.divider  
              li
                a(href='/account')
                  //span.ion-settings
                  | Account Settings
              li
                a(href='/logout')
                  //span.ion-log-out
                  |  Logout
            //li
              a(href='/') View Profile