extends ../layout


block content
  .page-header
    h1= title

  form.form-horizontal(action='/edit/#{activity._id}', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='title') Title*
      .col-sm-8
        input.form-control(type='text', name='title', id='title', placeholder='e.g. Traditional Afro-Caribbean Cooking' value='#{activity.title}' required)
    .form-group
      label(class='col-sm-2 control-label', for='image') Image URL*
      .col-sm-8
        input.form-control(type='text', name='image', id='image', placeholder='e.g. http://placehold.it/1900x600' value='#{activity.media.img.cover}')
    .form-group
      label.col-sm-2.control-label(for='strapline') Strapline*
      .col-sm-8
        input.form-control(type='text', name='strapline', id='strapline', placeholder='e.g. An Introduction to the Magic of Traditional Afro-Caribbean Cooking' value='#{activity.strapline}' required)

    .form-group
      label.col-sm-2.control-label(for='description') Description*
      .col-sm-8
        textarea.form-control(name='description', id='description' placeholder="Please indicate why is the experience that you share is considered unique experience and representative of your regions, country, tradition and customs? Is there a cost associated to the experience is it free or do you have other ways to exchange?" rows="7" required)
            | #{activity.description}

    .form-group
      label(class='col-sm-2 control-label', for='availability') Available Time/Date
      .col-sm-8
        input.form-control(type='text', name='availability', id='availability', value='#{activity.availability}', placeholder='e.g. Every Weekday, 8pm (localtime)')

    .form-group
      label(class='col-sm-2 control-label', for='acceptedCurrency') Accepted Currency*
      .col-sm-2
          input.form-control(type='text', name='acceptedCurrency', id='acceptedCurrency', value='#{activity.acceptedCurrency}' placeholder='e.g. USD' required)

      label(class='col-sm-4 control-label', for='cost') Price (free = 0, undecided = leave blank)
      .col-sm-2
        input.form-control(type='text', name='cost', id='cost', value='#{activity.cost}' placeholder='e.g. 20')

    .form-group
      label.col-sm-2.control-label(for='address') Address
      .col-sm-8
        textarea.form-control(name='address', id='address', placeholder='e.g. Pitanjara Cultural Centre, the Gap, Alice Springs, 0870, NT Australia', rows='3')
            | #{activity.address}

    .form-group
      label.col-sm-2.control-label(for='status') Make visible?
      .col-sm-8
        select(name='status')
          option(value='active', selected=activity.status == 'active') Active
          option(value='inactive', selected=activity.status == 'inactive') Inactive

    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          span.ion-edit
          | Update Listing